@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}



.bg-home {
    background-image: linear-gradient(0deg, rgba(0, 8, 29, 0.7), rgba(0, 8, 29, 0.7)),
        url("../assets/bg-home-page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-black-opacity {
    background-color: #000000ab;
}

.netflix-logo {
    width: 150px;
    height: 100px;
    fill: rgba(229, 9, 20, 1);
}

.card-get-started {
    background: linear-gradient(0deg, rgba(0, 8, 29, 1), rgba(0, 8, 29, 1)) padding-box, linear-gradient(271.65deg, #233371 5.26%, #00197a 50.02%, #e50914 97.68%) border-box;
    border: 4px solid transparent;
    border-radius: 8px;
}

.fs-l {
    font-size: 2.5rem;
}

.fs-small-small {
    font-size: .8rem;
}


.text-orange {
    color: #E87C03;
}

.bg-medium-gray {
    background-color: #333333;
}

.none-outline {
    outline: none;
}

.fs-small {
    font-size: .9rem;
}

.btn-danger-danger {
    background-color: rgba(229, 9, 20, 1);
}


.btn-danger-danger:hover {
    background-color: #C11119;
}

.bg-dark-blue {
    background-color: #00081D;
}

.bg-blue {
    background-color: #090626;
}

.bg-light-blue {
    background-color: rgb(19, 33, 68);
}

.details {
    cursor: pointer;
}

.accordion-button {
    outline: none;
    background-color: rgb(19, 33, 68);
    border: none;

}

.accordion-button::after {
    display: none;
}

.accordion-button:focus {
    background-color: rgb(19, 33, 68);
    outline: none;
    border: none;
    box-shadow: none;

}

.accordion-button:not(.collapsed) {
    background-color: rgb(19, 33, 68);
}

.fa-plus {
    transition: all .3s;

}

.rotate-acordion-icon {
    transform: rotate(45deg);
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.goog-te-gadget-simple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}

body {
    top: 0 !important;
}

body>.skiptranslate {
    display: none;
    position: absolute;
}


.focus-input + span{
    top: 12px !important;
    font-size: .7rem;
}


.list-item>a {
    text-decoration: none;
}

.list-item>a:hover {
    text-decoration: underline;

}